.lib_container{
    width: 30vw;
    height: auto    ;
    border-radius: 30px;
    border: 2px solid $white;
    margin: 2% 2%;
    display: flex;
    .lib_name_container{
        width: 90%;
        height: 100%;
        margin: 5% auto;
        h1{
            font-size: $h1;
        }
        .displaySearch{
            width: 100%;
            display: flex;
            button{
                width: 70%;
                background-color: $bg;
                border: 1px solid $white;
                color: $white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: auto;
                &:hover{
                    background-color: $white;
                    color: $bg;
                }
            }
        }
        .Videos{
            width: 100%;
            .userVideo{
                border: 1px solid $white;
                margin: 10% 5%;
                width: 90%;
                display: flex;
                flex-wrap: wrap;
                &:nth-child(1){
                    margin-top: 40px;
                }
                h1{
                    font-size: 15px ;
                    margin: auto;
                }
            }
        }
        input{
           width: 100%;
           height: 5%;
           margin: 5% auto 0 auto;
       } 
    }
}