.App {
  margin: 0;
  background-color: $bg;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: $white;
  display: flex;

  .SearchAndDisplay{
    width: 60vw;
    height: 95vh;
    border-radius: 90px;
    border: 2px solid $white;
    margin: auto 2%;
    display: flex;
  }
}

